#centerGame {
  width: 472px;
  margin-left: auto;
  margin-right: auto;
}

#outerContainer {
  background-color: blue;
  border: 15px solid blue;
  border-radius: 20px;
  margin-bottom: 40px;
  height: 470px;
  width: 460px;
}

#innerPadding {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 120px auto 120px;
  background-color: #C0C0C0;
  border: 8px solid #C0C0C0;
  border-radius: 15px;
  height: 454px;
  width: 443px;

}

.container-game {
  justify-content: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 105px);
  border: 3px solid blue;
  border-radius: 15px;
  background: blue;
  height: 448px;
  width: 438px;
}

.box {
  border: 1px solid grey;
  border-radius: 10px;
  background: white;
  height: 100px;
  width: 100px;
}

body {
  background: lightblue;
}

button {
  float: right;
}
