#boardTray {
  background-color: #C0C0C0;
  padding: 8px;
  border: 15px solid blue;
  border-radius: 35px;
  height: 497px;
  width: 485px;
  margin: auto;
}

#boxesContainer {
  justify-content: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 105px);
  border: 3px solid blue;
  border-radius: 15px;
  background: blue;
  height: 451px;
  width: 438px;
}

.box {
  border: 2px solid grey;
  border-radius: 10px;
  background: white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  color: blue;
  font: 42px sans-serif;
  font-weight: bold;
  margin: 0;
}

#submittedLetters, #buttonDiv, #wordsUsed {
  display: flex;
  justify-content: center;
  align-content: center;
}

#submittedLetters {
  margin-top: 15px;
  margin-bottom: 5px;
  min-height: 64px;
}

#submittedLetters p {
  font-size: 36px;
  margin: 0;
}

#wordsUsed {
  margin-top: 20px;
}

#wordsUsed ul {
  font-size: 28px;
  list-style: none;
  padding-left: 0;
}

#wordsUsed li {
  display: inline-block;
  padding: 0 15px;
}

footer a {
  color: white;
  text-decoration: underline;
}
