#boardTray {
  background-color: #C0C0C0;
  padding: 8px;
  border: 15px solid blue;
  border-radius: 35px;
  height: 454px;
  width: 443px;
  margin: auto;
}

#boxesContainer {
  justify-content: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 105px);
  border: 3px solid blue;
  border-radius: 15px;
  background: blue;
  height: 448px;
  width: 438px;
}

.box {
  border: 1px solid grey;
  border-radius: 10px;
  background: white;
  height: 100px;
  width: 100px;
}
